@import "mixins.scss";

//***************************************//
//************* GENERICS ****************//
//***************************************//

@include setPath('../fonts/');
@include fontFace($family: 'rob_l', $fontName: 'RobotoCondensed-Light', $bSupport: 1);
@include fontFace($family: 'rob_r', $fontName: 'RobotoCondensed-Regular', $bSupport: 1);
@include fontFace($family: 'rob_b', $fontName: 'RobotoCondensed-Bold', $bSupport: 1);

body {
	padding:0; margin:0; font-family:'Open Sans'; font-size:20px; color: $blanc;font-weight:400;
	p {margin:0 0 25px 0; line-height:2em;}
	a, button, input {text-decoration:none; color:inherit; transition:.3s; outline:none}
	a:hover {text-decoration:none; cursor: pointer; }
	ul {margin:0; padding:0;
            li {list-style:none;}
	}
	&.no_scroll {height: 100vh; overflow: hidden;}
	ol li {line-height:22px;outline:none;}
	b, strong { font-family:'Open Sans'; font-weight:700;}
	* {box-sizing: border-box;}
	img {max-width:100%; height:auto;}
        .container {
            max-width: 1200px;
            margin: 0 auto;
        }
        .field-item {
            line-height:2em;
        }
        h1 {margin:0}
        h2 {font-size:1.8em}
        @include editor();

        // PARAGRAPH REGULAR 20 //
        .regular-20, .paragraph--view-mode--regular-20 {
            font-size:20px;
        }

        // PARAGRAPH REGULAR 24 //
        .regular-24, .paragraph--view-mode--regular-24 {
            font-size:24px;
        }
        // PARAGRAPH EXTRABOLD 40 //
        .extrabold-40, .paragraph--view-mode--extrabold-40 {
            font-size:40px;
            font-weight:900;
            letter-spacing:1.5px;
        }

        // PARAGRAPH LINK //
        .paragraph--type--link {
            margin:40px 0;
            a {
                display:inline-block;
                width:auto;
                padding:20px 30px;
                border-radius:30px;
                color:$blanc;
                font-weight: 300;
                font-size:14px;
                text-transform:uppercase;
                background-color:$buttonlink;
            }
        }
}

/* MAPS */
.geolocation-common-map {
    /*&:before {
        @include defaultBackground();
    }*/
}
.geolocation-common-map-locations {
  /*display:block !important;*/
  position: fixed; top: 0; left: 0; z-index: 1; background: rgba(0,0,0,0.7); width: 100%; height: 100%; padding: 60px;
  .geolocation {
    display:none;
    .hidden {display:none;}
    .location-content {overflow:hidden; border:none;}
  }
}
.gm-style-iw-d {
    color:#000;
}

/* TAXONOMÃA */
.taxonomy {
	&.observatory {
		&.full {
			padding: 60px;
			h2 {font-size: 40px; line-height: normal;}
			p {line-height: normal; margin: 5px 0;}
			.cols {
				display: flex; margin-bottom: 40px;
				.col {
					flex: 1 0 50%; display: flex; justify-content: center; flex-direction: column;
					&:nth-child(1) {padding-right: 20px;}
					&:nth-last-child(1) {padding-left: 20px; align-items: flex-end;}
				}
				.follow {
					flex: none;
					a {width: auto; padding: 10px 25px; border-radius: 20px; background-color: $buttonlink; color: white; text-transform: uppercase; font-family: 'rob_l'; display: inline-block; margin-top: 40px;}
				}
				.field_observatory_website a {
					font-size: 13px;
					&:hover {color: $buttonlink;}
				}
			}

			.box {
				width: 100%; display: inline-block; display: flex;
				&.notform {
					.address, .views-element-container {flex: 1 0 33%;}
					.field_observatory_observacio {display: none;}
				}
			}
			.address {
				padding: 20px; flex: 1 0 25%; margin-top: 80px;
				h3 {font-size: 20px; margin: 5px 0 20px;}
				color: black; background-color: white;
				> p {font-size: 16px; margin: 5px 0;}
				.field_observatory_phone {font-weight: bold; font-size: 18px; margin: 5px 0;}
				.field_observatory_website {color: $buttonlink; font-size: 18px; margin: 5px 0;}
				.field_observatory_address {margin: 15px 0;}
			}
			.views-element-container {
				flex:1 0 25%; padding: 20px; background-color: $azul_claro; color: white;
				&:not(:nth-last-child(1)) {}
				&:nth-last-child(1) {background-color: $buttonlink; margin-top: 60px;}
				header {text-align: left;}
				footer a {width: auto; padding: 10px 25px; border-radius: 20px; background-color: $buttonlink; color: white; text-transform: uppercase; font-family: 'rob_l'; display: inline-block; margin-top: 40px;}
			}
			.view-observation-list {
				.views-row {margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid white;}
				.views-field {display: inline-block; vertical-align: middle; max-width: 50%; text-align: left; font-size: 16px;}
				.ra {padding-right: 5px;}
				.dec {padding-left: 5px;}
				.name {display: inline-block; width: 100%; font-weight: bold; max-width: none;}
				.views-field-completed {width: 100%; display: inline-block; max-width: none;}
			}
			.view-id-news.view-display-id-entity_view_2 {opacity: 0; transition: .5s;}
			.field_observatory_observacio {
				background-color: $gris_claro; color: white; padding: 20px; flex:1 0 25%; margin-top: 80px;
				input,textarea {background-color: $gris_claro2; color: white;}
				input[type="submit"] {background-color: $buttonlink;}
				.js-form-type-datetime, .form-item-observatory {display: none !important;}
			}
		}
	}
}

/* VISTAS */
.view {
	&.view_obervatories-map.view_display_map {
		.view-content {width: 1500px; max-width: 100%; margin: 0 auto;}
		.view-header {
			text-align: center; margin-bottom: 60px;
			h4 {display: inline-block; width: 100%; font-size: 20px; font-weight: 400; margin: 0 0 20px;}
			h1 {font-size: 40px; font-weight: 700; margin: 20px 0 60px;}
			a {
				border-radius: 20px; color: white; padding: 10px 25px 10px 50px; display: inline-block; vertical-align: middle; opacity: 1;
				&:nth-child(3) {margin-right: 40px; background: $buttonlink url('../images/antena.svg') no-repeat 5px center;}
				&:nth-child(4) {background: $buttonlink url('../images/espiral.svg') no-repeat 10px center; padding-left: 55px}
				&:hover {background-color: $azul_claro;}
			}
		}
		.view-footer {
			.image {width: 1500px; max-width: 100%; margin: 0 auto;height: 494px; background: transparent url('../images/timeline.png') no-repeat center;}
		}
	}
}

/* CONTENT */
.node{
	&.new {
		&.visualizacion-1 {
			text-align: left;
			.field_media_image {text-align: center;}
			h2 {font-size: 20px; font-weight: bold;}
		}
		&.full {
			padding: 80px 0 0;
			.container {padding: 0 10px;}
			.field_event_category_n {color: $buttonlink; font-size: 16px; font-weight: 400; margin-bottom: 20px;}
			h1 {font-size: 40px; font-weight: 700; margin: 0 0 20px;}
			.white_box {
				position: relative; padding-bottom: 60px;
				&:before {background-color: white; content: ''; position: absolute; z-index: 0; width: 100%; height: calc(100% - 200px); display: inline-block; left: 0; top: 200px;}
				.container {position: relative; z-index: 1;}
			}
			.field_g_media.background {width: 100%; height: 400px; background: transparent none no-repeat center;}
			.creation_date {font-size: 18px; font-weight: 300; margin-bottom: 40px;}
			.share {margin-bottom: 60px;}
			.body {display: inline-block; width: 100%; margin-top: 80px; color: black;}
		}
	}
}


/* MESSAGES */
.messages {
	width: 700px; max-width: 100%; margin: 0 auto; padding: 100px 30px 10px; text-align: center; z-index: 1; position: relative; font-size: 17px; font-weight: 700; background: transparent none no-repeat top center / 70px;
	li {margin: 5px 0px;}
	&.error {background-image: url('../images/error.svg')}
	&.warning {background-image: url('../images/warning.svg')}
	&.status {background-image: url('../images/status.svg')}
}

/* USER */
#observation-form-wrapper {
    position:absolute;
    z-index:1;
    display:none;
}

/* FORMS */
form {
	.form-item {margin: 10px 0; width: 100%; display: inline-block;}
	.form-actions {text-align: center; margin-top: 30px;}
	input,textarea {appearance: none; border: 0px; padding: 7px 10px; width: 100%; font-size: 16px;}
	input[type="submit"] {
		width: auto; padding: 10px 25px; border-radius: 20px; background-color: $buttonlink; color: white; text-transform: uppercase; font-family: 'rob_l'; cursor: pointer; transition: background-color .3s;
		&:hover {background-color: $azul_claro;}
	}
	input[type="checkbox"],input[type="radio"] {
		width: 20px; height: 20px; background: white; cursor: pointer; padding: 0px; vertical-align: middle; outline: none;
		&:checked {background-color: red;}
	}
	input[type="checkbox"] {}
	input[type="radio"] {border-radius: 100%; appearance: radio;}
	label {font-size: 18px; font-weight: bold;}
	.captcha {margin-top: 40px;}

	.password-strength {
		display: flex; flex-direction: column; margin-top: 20px;
		.password-strength__meter {order: 1; height: 10px;
			.is-weak {background-color: #b90101;}
			.is-good {background-color: #003e00;}
			.is-strong {background-color: green;}
			.is-fair {background-color: orange}
		}
		.password-strength__title {order: 0; font-size: 14px; font-weight: 400;}
	}
	.password-confirm {font-size: 14px; font-weight: 400;}
	.password-suggestions {display: none !important;}

	&#user-login-form, &#user-register-form, &#user-form, &#user-pass {
		width: 700px; max-width: 100%; margin: 0 auto; padding-top: 100px;
		.description {font-size: 14px}
		label {font-weight: 500; margin-bottom: 10px; display: inline-block;}
		.js-form-type-radio {
			label {margin: 0;}
			+ .js-form-type-radio {margin-top: 0}
		}
		> p {font-size: 14px; margin-bottom: 0; margin-top: -14px}
		#edit-reset-password {font-size: 16px;}
		#edit-actions {margin-top: 60px;}
	}
}
