@import "mixins.scss";

//***************************************//
//************* GENERICS ****************//
//***************************************//

@include setPath('../fonts/');
@include fontFace($family: 'rob_l', $fontName: 'RobotoCondensed-Light', $bSupport: 1);
@include fontFace($family: 'rob_r', $fontName: 'RobotoCondensed-Regular', $bSupport: 1);
@include fontFace($family: 'rob_b', $fontName: 'RobotoCondensed-Bold', $bSupport: 1);

body {
	padding:0; margin:0; font-family:'Open Sans'; font-size:20px; color: $blanc;font-weight:400;
	p {margin:0 0 25px 0; line-height:2em;}
	a {text-decoration:none; color:inherit; transition:.3s;}
	a:hover {text-decoration:none; cursor: pointer;}
	ul {margin:0; padding:0;
            li {list-style:none;}
	}
	ol li {line-height:22px;}
	b, strong { font-family:'Open Sans'; font-weight:700;}
	* {box-sizing: border-box;}
	img {max-width:100%; height:auto;}
        .container {
            max-width: 1200px;
            margin: 0 auto;
        }
        .field-item {
            line-height:2em;
        }
        h1 {margin:0}
        h2 {font-size:1.8em}
        @include editor();

        // PARAGRAPH REGULAR 20 //
        .regular-20, .paragraph--view-mode--regular-20 {
            font-size:20px;
        }

        // PARAGRAPH REGULAR 24 //
        .regular-24, .paragraph--view-mode--regular-24 {
            font-size:24px;
        }
        // PARAGRAPH EXTRABOLD 40 //
        .extrabold-40, .paragraph--view-mode--extrabold-40 {
            font-size:40px;
            font-weight:900;
            letter-spacing:1.5px;
        }

        // PARAGRAPH LINK //
        .paragraph--type--link {
            margin:40px 0;
            a {
                display:inline-block;
                width:auto;
                padding:20px 30px;
                border-radius:30px;
                color:$blanc;
                font-weight: 300;
                font-size:14px;
                text-transform:uppercase;
                background-color:$buttonlink;
            }
        }
}

/* MAPS */
.geolocation-common-map {
    &:before {
        @include defaultBackground();
    }
}
.geolocation-common-map-locations {
  /*display:block !important;*/
  position: fixed; top: 0; left: 0; z-index: 1; background: rgba(0,0,0,0.7); width: 100%; height: 100%; padding: 60px;
  .geolocation {
    display:none;
    .hidden {display:none;}
    .location-content {overflow:hidden; border:none;}
  }
}
.gm-style-iw-d {
    color:#000;
}

/* TAXONOMÃA */
.taxonomy {
	&.observatory {
		&.full {
			padding: 60px;
			h2 {font-size: 40px; line-height: normal;}
			p {line-height: normal; margin: 10px 0;}
			.cols {
				display: flex;
				.col {
					flex: 1 0 50%; display: flex; justify-content: center; flex-direction: column;
					&:nth-child(1) {padding-right: 20px;}
					&:nth-last-child(1) {padding-left: 20px; align-items: flex-end;}
				}
			}
			.box {width: 100%; display: inline-block; display: flex;}
			.address {
				padding: 20px; flex: 1 0 25%; margin-top: 80px;
				h3 {font-size: 20px; margin: 5px 0 10px;}
				color: black; background-color: white;
				> p {font-size: 16px; margin: 5px 0;}
				.field_observatory_phone {font-weight: bold; font-size: 18px; margin: 5px 0;}
				.field_observatory_website {color: $buttonlink; font-size: 18px; margin: 5px 0;}
			}
			.views-element-container {
				flex:1 0 25%; padding: 20px; background-color: $azul_claro; color: white;
				&:not(:nth-last-child(1)) {}
				&:nth-last-child(1) {background-color: $buttonlink; margin-top: 60px;}
				header {text-align: left;}
				footer a {width: auto; padding: 10px 25px; border-radius: 20px; background-color: $buttonlink; color: white; text-transform: uppercase; font-family: 'rob_l'; display: inline-block; margin-top: 40px;}
			}
			.view-observation-list {
				.views-row {margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid white;}
				.views-field {display: inline-block; vertical-align: middle; max-width: 50%; text-align: left; font-size: 16px;}
				.ra {padding-right: 5px;}
				.dec {padding-left: 5px;}
				.views-field-completed {width: 100%; display: inline-block; max-width: none;}
			}
			.view-id-news.view-display-id-entity_view_2 {opacity: 0; transition: .5s;}
			.field_observatory_observacio {
				background-color: $gris_claro; color: white; padding: 20px; flex:1 0 25%; margin-top: 80px;
				input,textarea {background-color: $gris_claro2; color: white;}
				input[type="submit"] {background-color: $buttonlink;}
				.js-form-type-datetime, .form-item-observatory {display: none !important;}
			}
		}
	}
}

.node{
	&.new {
		&.visualizacion-1 {
			text-align: left;
			.field_media_image {text-align: center;}
			h2 {font-size: 20px; font-weight: bold;}
		}
	}
}

/* USER */
#forms-wrapper {
    position: absolute;
    top: 0;
    z-index: 99;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display:none;
}
#observation-form-wrapper {
    position:absolute;
    z-index:1;
    display:none;
}

/* FORMS */
form {
	.form-item {margin: 5px 0; width: 100%; display: inline-block;}
	.form-actions {text-align: center; margin-top: 30px;}
	input,textarea {appearance: none; border: 0px; padding: 7px 10px; width: 100%; font-size: 16px;}
	input[type="submit"] {width: auto; padding: 10px 25px; border-radius: 20px; background-color: $buttonlink; color: white; text-transform: uppercase; font-family: 'rob_l';}
	label {font-size: 18px; font-weight: bold;}
}
