@import "mixins.scss";

//***************************************//
//************* GENERICS ****************//
//***************************************//

body {
	padding:0; margin:0; font-family:'Open Sans'; font-size:20px; color: $blanc;font-weight:400;
	p {margin:0 0 25px 0; line-height:2em;}
	a {text-decoration:none; color:inherit; transition:.3s;}
	a:hover {text-decoration:none; cursor: pointer;}
	ul {margin:0; padding:0;
            li {list-style:none;}
	}
	ol li {line-height:22px;}
	b, strong { font-family:'Open Sans'; font-weight:700;}
	* {box-sizing: border-box;}
	img {max-width:100%; height:auto;}
        .container {
            max-width: 1200px;
            margin: 0 auto;
        }
        .field-item {
            line-height:2em;
        }
        h1 {margin:0}
        h2 {font-size:1.8em}
        @include editor();

        // PARAGRAPH REGULAR 20 //
        .regular-20, .paragraph--view-mode--regular-20 {
            font-size:20px;
        }

        // PARAGRAPH REGULAR 24 //
        .regular-24, .paragraph--view-mode--regular-24 {
            font-size:24px;
        }
        // PARAGRAPH EXTRABOLD 40 //
        .extrabold-40, .paragraph--view-mode--extrabold-40 {
            font-size:40px;
            font-weight:900;
            letter-spacing:1.5px;
        }

        // PARAGRAPH LINK //
        .paragraph--type--link {
            margin:40px 0;
            a {
                display:inline-block;
                width:auto;
                padding:20px 30px;
                border-radius:30px;
                color:$blanc;
                font-weight: 300;
                font-size:14px;
                text-transform:uppercase;
                background-color:$buttonlink;
            }
        }
}

/* MAPS */
.geolocation-common-map {
    &:before {
        @include defaultBackground();
    }
}
.geolocation-common-map-locations {
  /*display:block !important;*/
  position: fixed; top: 0; left: 0; z-index: 1; background: rgba(0,0,0,0.7); width: 100%; height: 100%; padding: 60px;
  .geolocation {
    display:none; height:100%; overflow:hidden;
    .hidden {display:none;}
    .location-content {overflow:hidden; border:none;}
  }
}
.gm-style-iw-d {
    color:#000;
}

/* TAXONOMIA */
.taxonomy {
	&.observatory {
		&.full {
			color: black; padding: 60px;
			h2 {font-size: 40px; line-height: normal;}
			p {line-height: normal;}
			.cols {
				display: flex;
				.col {
					flex: 1 0 50%;
					&:nth-child(1) {padding-right: 20px;}
					&:nth-last-child(1) {padding-left: 20px;}
				}
			}
			.box {width: 100%; display: inline-block;}
		}
	}
}

/* USER */
#forms-wrapper {
    position: absolute;
    top: 0;
    z-index: 99;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display:none;
}
#observation-form-wrapper {
    position:absolute;
    z-index:1;
    display:none;
<<<<<<< HEAD:web/themes/custom/asterics/sass/styles.scss
}
=======
}
>>>>>>> remotes/origin/features/implementacion-css:web/themes/custom/asterics/src/sass/styles.scss
