// Global variables
$images: '/themes/custom/asterics/images/';

// Colores
$negre: #000;
$blanc: #fff;
$blaufons: #071c47;
$buttonlink: #f2644c;

@mixin genericlink($color) {
  font-size:16px;
  color: $color;
}