@import "mixins.scss";

main {
    background-color:$blaufons;
    #block-link-home-observation-form {
        padding:50px 0;
        text-align:center;
        color:$negre;
        p {
            font-weight:400;
            font-size:24px;
        }
        a {
            display:inline-block;
            width:auto;
            padding:20px 30px;
            border-radius:30px;
            color:$blanc;
            font-weight: 300;
            font-size:14px;
            text-transform:uppercase;
            background-color:$buttonlink;
        }
    }
    #aladin-lite-div {
        margin:0 auto;
    }
    // TEASERS NEWS & EVENTS //
    article.teaser {
        .category {
            @include genericlink($buttonlink);
        }
        .title {
            padding:36px 0;
            font-weight:900;
            font-size:30px;
        }
        .info {
            font-weight:300;
            font-size:18px;
            .wrapper {
                display:inline;
                .date-item {
                    display:inline;
                    &:after {
                        content:"-";
                    }
                }
                .date-item:last-child {
                    &:after {
                        content:"";
                    }
                }
                
            }
        }
    }
    // TEASERS NEWS & EVENTS //
}