@import "mixins.scss";

main {
    #block-link-home-observation-form {
        padding:50px 0;
        text-align:center;
        color:$negre;
        p {
            font-weight:400;
            font-size:24px;
        }
        a {
            display:inline-block;
            width:auto;
            padding:20px 30px;
            border-radius:30px;
            color:$blanc;
            font-weight: 300;
            font-size:14px;
            text-transform:uppercase;
            background-color:$buttonlink;
        }
    }
}